* {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.25rem $dark;
    background-color: $light;
  }

  &::-webkit-scrollbar {
    width: 0.25rem;
    background-color: $light;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
  }
}

.nav-link.active,
.nav-item.active {
  @extend .font-weight-bold;
  @extend .border-bottom;
  @extend .border-dark;
}

.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to,
.layout-enter,
.layout-leave-active {
  opacity: 0;
}
