// Typography
$font-family-sans-serif: 'Roboto', system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

// Colors
$white: #fff;
$gray-100: #d8dee2;
$gray-200: #b9c6ce;
$gray-300: #9bacb9;
$gray-400: #889baa;
$gray-500: #698396;
$gray-600: #556877;
$gray-700: #404f59;
$gray-800: #313e46;
$gray-900: #1d2327;
$black: #000;

$primary: #297d8d;
$secondary: #5a9caf;
$success: #71c1d8;
$info: #a4cbe6;
$warning: #d8c171;
$danger: #922323;
